* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #b683e6;
    font-family: Helvetica, Arial, sans-serif;}

/* header style */    
header {
    padding: 20px 35px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #b683e6;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #b683e6;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}
 /* header style */   
 
.hero {
    background-image: url("../images/pastel.jpg");
    /* background-size: cover; */
    /* background-position: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* flex-wrap: wrap;  */
    /* align-items: flex-start; */
}
.hero-w {
    /* background-color: #e1ffc4; */
    text-align: right;
    font-size: 55px; 
    text-shadow: 0 0 10 px rgba(0, 0, 0, 0.5);
}



     
 /*About Me*/
.aboutme {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
 }

.aboutme h2 {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.aboutme p {
    text-align: right;
}