* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #b683e6;
    font-family: Helvetica, Arial, sans-serif;}

body, html {
    height: 100%;
}    

/* header style */    
header {
    padding: 20px 35px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
    
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #b683e6;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #b683e6;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}
 /* header style */   
 
.hero {
    background-image: linear-gradient(rgba(255, 251, 251, 0.5), rgba(0, 0, 0, 0.5)), url("../images/pastel.jpg");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}
.hero-text {
    /* background-color: #e1ffc4; */
    font-size: 55px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: solid 5px white;
    color: white;
}



     
 /*About Me*/

.grid-container-about {
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 200px;
    grid-gap: 20px;
}

.grid-me {
    

}

.grid-item {

}
/*Work*/
.grid-container-work {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    height: 50px;
}

.work-item{
    background: #ffc4e1;
    color: white;
    padding: 100px;
}

.work-item:nth-child(even) {
    background: #e1ffc4;
    color: purple; 
}

.item1 {
    align-self: start;
}




/* .aboutme {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
 }

.aboutme h2 {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.aboutme p {
    text-align: right;
} */